@import "../../css/variable-overrides";

.home-tabs.nav-tabs {
  border: none;

  .nav-link {
    border: none;
    color: $dark;
    border-bottom: 2px solid $dark;
    font-size: 15px;
    width: 32%;
    text-align: center;

    &.active {
      color: $primary;
      border-color: $primary;
    }

    &+.nav-link {
      margin-left: 2%;
    }
  }
}

.reward-panel {
  padding-bottom: 70px;

  .allocation {
    font-size: 32px;
  }

  .TOC {
    font-size: 15px;
  }

  .small-text {
    font-size: 13px;
  }
}

.withdraw-panel {
  .awarded {
    font-size: 32px;
  }
}

.learn-more {
  display: flex;

  img {
    width: 25px;
    margin: 0 10px 0 0;
    object-fit: contain;
    align-self: flex-start;
  }

  p {
    flex: 1 1 auto;
  }
  
}

